.content{
  margin-top: 150px;
  margin-left: 120px;
}
#login-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}
.welcome{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
  left: 50px;
}
.on{
  position: relative;
  color: rgb(235, 113, 52);
  left: 30px;
  font-size: 15px;

}
.username{
  margin-bottom: 13px;
  font-size: 14px;
  
}
.password{
  margin-bottom: 13px;
  font-size: 14px;
}
form input{
  width: 250px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgb(179, 176, 176);
  padding: 5px;
}
.signIn{
  margin-bottom: 20px;

}
form button{
  width: 262px;
  height: 30px;
  border-radius: 6px;
  border: none;
  padding: 5px;
  background-color: rgb(235, 113, 52);
  color: white;
}
.register{
  font-size: 10px;
  position: relative;
  left: 40px;
}
.registerLink{
  color: rgb(168, 62, 9);
}